<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="titleE404"style="text-align: center;" class="ion-margin">Página no encontrada...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-item class="ion-margin rounded">
    <ion-img class="rounded" src="https://http.cat/404.jpg"></ion-img>
  </ion-item>
  <ion-button expand="full" class="ion-margin" shape="round"(click)="volverInicio()"color="warning">
    <ion-icon name="home" slot="start"></ion-icon>
    Volver al login
  </ion-button>    
</ion-content>
