<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="titleIngresarLeccionario" style="text-align: right; font-size: 20px;">Leccionario</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/" color="light" mode="md">

      </ion-back-button>
    </ion-buttons>
    <ion-thumbnail slot="end" style="padding-top: 8px; padding-right: 8px;">
      <ion-icon name="pencil" size="large" color="warning"></ion-icon>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-card class="bgIngresarLeccionario rounded">
    
        <!--Boton de fecha con modal-->
        <ion-item id="open-modal" class="ion-margin rounded" detail>
          <ion-icon icon="calendar-outline" slot ="start"></ion-icon>
          <ion-label>Fecha</ion-label>
          <ion-text slot="end">{{formato}}</ion-text>
        </ion-item>
  
      <ion-modal trigger="open-modal" class="ion-modal bg">
        <ng-template>
          <ion-content class="ion-content-fecha">
            <ion-datetime #datetime presentation="datetime" [value]="dateValue" size="cover"(ionChange)="fechaCambiada(datetime.value)"(ionCancel)="mostrarPickerFecha = false;">
              <ion-buttons slot="buttons">
                <ion-button (click)="cerrar()" color="danger">Cerrar</ion-button>
                <ion-button (click)="seleccionar()">Seleccionar</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>

    <ion-item class="ion-margin rounded" *ngIf="mostrarNivel">
      <ion-label>Nivel</ion-label>
      <ion-select name ="select_nivel" [(ngModel)]="mdl_nivel" (ionChange)="onChange(obtenerCursoApi())" >
        <ion-select-option *ngFor="let nivel of listaNivel" [value]="nivel.ID_NIVEL">{{nivel.DESCRIPCION}} </ion-select-option>
      </ion-select>
      
    </ion-item>
    
    <ion-item class="ion-margin rounded" *ngIf="mostrarCurso">
      <ion-label>Curso</ion-label>
      <ion-select name ="select_curso" [(ngModel)]="mdl_curso" (ionChange)="onChange(obtenerAsignaturaApi())" >
        <ion-select-option *ngFor="let curso of listaCursos" [value]="curso.ID_CURSO">{{curso.COMPUESTO}}</ion-select-option>
      </ion-select>
  
    </ion-item>

    <ion-item class="ion-margin rounded" *ngIf="mostrarAsignatura">
      <ion-label>Asignatura</ion-label>
      <ion-select [(ngModel)]="mdl_asignatura" (ionChange)="onChange(activarObjetivo())">
        <ion-select-option *ngFor="let atrib of listaAsignatura" [value]="atrib.ID_ASIGNATURA">{{atrib.NOM_ASIGNATURA}}</ion-select-option>
      </ion-select>
      
    </ion-item>




    <ion-item class="ion-margin rounded" *ngIf="mostrarObjetivo">
      <ion-label position="stacked">Objetivo de la clase</ion-label>
      <ion-textarea placeholder="Ingrese el texto aquí..." [(ngModel)]="txt_descLeccionario"></ion-textarea>
    </ion-item>

    <ion-button expand="full" shape="round" class="ion-margin" (click)="confirmaLeccionario()" color="tertiary">Confirmar</ion-button>

  </ion-card>
</ion-content>
