<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="titleHorariosSelected"style="text-align: right; font-size: 20 px">Horario Cursos</ion-title>
    <ion-buttons slot="start" >
    </ion-buttons>
    <ion-thumbnail slot="end" style="padding-top: 8px; padding-right: 8px;">
      <ion-icon name="alarm" size="large" color="secondary"></ion-icon>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-grid class="ion-text-center">

    <ion-row class="ion-padding" *ngFor="let x of listaAsignaturasH">
      <ion-col>
        <ion-title>
          <ion-text color="default">
            Horario del {{x.NOMBRECURSO}}
          </ion-text>
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="header-row">
      <ion-col>
        <ion-text>Asignatura</ion-text>
      </ion-col>


      <ion-col>
        <ion-text>Horario</ion-text>
      </ion-col>
    </ion-row>


    <ion-row *ngFor="let x of listaHorarios">
      <ion-col>
        <ion-text>
          {{x.NOM_ASIGNATURA}}
        </ion-text>
      </ion-col>
  
        <ion-col>
          <ion-text class="ionic-margin, ion-text-center">
            {{x.DESCRIPCION}}
          </ion-text>
        </ion-col>
    </ion-row>

  </ion-grid>

  <ion-button expand="block" shape="round" strong="true" class="ion-margin" (click)="cerrarHorario()" color="tertiary" shape="round">Aceptar</ion-button>

</ion-content>