<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="titleMostrarNotas" style="text-align: right; font-size: 20px;">Notas Alumno</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/" color="light" mode="md">

      </ion-back-button>
    </ion-buttons>
    <ion-thumbnail slot="end" style="padding-top: 8px; padding-right: 8px;">
      <ion-icon name="stats-chart" size="large" color="primary"></ion-icon>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-card class="bgMostrarNotas rounded">

    <ion-item class="ion-margin rounded" *ngIf="mostrarNivel">

      <ion-label>Nivel</ion-label>
      <ion-select name ="select_nivel" [(ngModel)]="mdl_nivel" (ionChange)="onChange(obtenerCursoApi())" >
        <ion-select-option *ngFor="let nivel of listaNivel" [value]="nivel.ID_NIVEL">{{nivel.DESCRIPCION}} </ion-select-option>
      </ion-select>
      
    </ion-item>
    
    <ion-item class="ion-margin rounded" *ngIf="mostrarCurso">
      <ion-label>Curso</ion-label>
      <ion-select name ="select_curso" [(ngModel)]="mdl_curso" (ionChange)="onChange(obtenerAlumnosApi())" >
        <ion-select-option *ngFor="let curso of listaCursos" [value]="curso.ID_CURSO">{{curso.COMPUESTO}}</ion-select-option>
      </ion-select>  
    </ion-item>

    <ion-item class="ion-margin rounded" *ngIf="mostrarAlumno">
      <ion-label>Alumno</ion-label>
      <ion-select name ="select_alumno" [(ngModel)]="mdl_alumno" (ionChange)="onChange(mdl_alumno)">
        <ion-select-option *ngFor="let alumno of listaAlumnos" [value]="alumno.NOMBREALUMNO">{{alumno.NOMBREALUMNO}}</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item class="ion-margin rounded" *ngIf="mostrarPeriodo">
      <ion-label>Periodo</ion-label>
      <ion-select name ="select_periodo" [(ngModel)]="mdl_periodo" (ionChange)="onChange(obtenerNotas()) ">
        <ion-select-option *ngFor="let periodo of listaPeriodo">{{periodo.semestre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="mostrarNotas" class="bgMostrarNotas rounded">
    <ion-accordion-group class="ion-margin" *ngFor="let nota of listaNotas">
      <ion-accordion value="colors" toggle-icon="arrow-down-circle">
                
        <ion-item slot="header">
          <ion-label><b>{{nota.NOM_ASIGNATURA}}</b></ion-label>
        </ion-item>
        
        <ion-list slot="content">
          <ion-item>
            <ion-label color="dark"><b>Nota 1: </b> {{nota.N1 | number: '1.0-2'}}{{nota.N11 | number: '1.0-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="dark"><b>Nota 2: </b>{{nota.N2 | number: '1.0-2'}}{{nota.N12 | number: '1.0-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="dark"><b>Nota 3: </b>{{nota.N3  | number: '1.0-2'}}{{nota.N13 | number: '1.0-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="dark"><b>Nota 4: </b>{{nota.N4 | number: '1.0-2'}}{{nota.N14 | number: '1.0-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="dark"><b>Nota 5: </b>{{nota.N5 | number: '1.0-2'}}{{nota.N15 | number: '1.0-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="dark"><b>Nota 6: </b>{{nota.N6 | number: '1.0-2'}}{{nota.N16 | number: '1.0-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="dark"><b>Nota 7: </b>{{nota.N7 | number: '1.0-2'}}{{nota.N17 | number: '1.0-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="dark"><b>Nota 8: </b>{{nota.N8 | number: '1.0-2'}}{{nota.N18 | number: '1.0-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="dark"><b>Nota 9: </b>{{nota.N9 | number: '1.0-2'}}{{nota.N18 | number: '1.0-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="dark"><b>Nota 10: </b>{{nota.N10 | number: '1.0-2'}}{{nota.N20 | number: '1.0-2'}}</ion-label>
          </ion-item>
        </ion-list>
        
      </ion-accordion>
    </ion-accordion-group> 

  </ion-card>
  
  <ion-button expand="full" shape="round" class="ion-margin" strong="true" (click)="obtenerNotas()" [disabled]="isEnable" color="success">Obtener notas</ion-button>
</ion-content>
